*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
.idea/
node_modules/
jquery/
jquery-ui/
package-lock.json
user.json
edu_meet_admin_panel/models.py
.env
.env_prod
*.log

*.ipynb
db.sqlite3
/staticfiles/
/media/
gwent-adminsdk.json
admin_users.json